/* styles.css */
body {
  cursor: none; /* Hide default cursor */
}

.custom-cursor {
  position: absolute;
  width: 20px; /* Adjust width and height as needed */
  height: 20px; /* Adjust width and height as needed */
  border-radius: 50%;
  background-color: red; /* Change cursor color */
  pointer-events: none; /* Allows underlying elements to be clickable */
  z-index: 9999; /* Ensure it's on top of other elements */
  display: none; /* Initially hide the custom cursor */
}
.follower {
  position: absolute;
  width: 40px; /* Adjust width and height as needed */
  height: 40px; /* Adjust width and height as needed */
  opacity:0.2;
  border-radius: 50%;
  background-color: red; /* Change cursor color */
  pointer-events: none; /* Allows underlying elements to be clickable */
 /* z-index: 9999;*/ /* Ensure it's on top of other elements */
  display: none; /* Initially hide the custom cursor */
}

.hover-text {
  color: black; /* Initial color of the text */
  transition: color 0.3s ease; /* Smooth color transition */
}

.hover-text:hover {
  color: blue; /* Color change on hover */
}
